<p><big><a name="      11">Plot number       11</a></big></p>
<p><big>Well 27, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot1" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot1.InitializeFromWeb()
rc = TSPlot1.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot1.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",11)
TSPlot1.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      11"><font face="Arial">< back</font></a></p>
<p><big><a name="      12">Plot number       12</a></big></p>
<p><big>Well 34, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot2" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot2.InitializeFromWeb()
rc = TSPlot2.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot2.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",12)
TSPlot2.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      12"><font face="Arial">< back</font></a></p>
<p><big><a name="      13">Plot number       13</a></big></p>
<p><big>Well 35, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot3" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot3.InitializeFromWeb()
rc = TSPlot3.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot3.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",13)
TSPlot3.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      13"><font face="Arial">< back</font></a></p>
<p><big><a name="      14">Plot number       14</a></big></p>
<p><big>Well 36, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot4" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot4.InitializeFromWeb()
rc = TSPlot4.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot4.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",14)
TSPlot4.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      14"><font face="Arial">< back</font></a></p>
<p><big><a name="      15">Plot number       15</a></big></p>
<p><big>Well 37, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot5" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot5.InitializeFromWeb()
rc = TSPlot5.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot5.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",15)
TSPlot5.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      15"><font face="Arial">< back</font></a></p>
</body>
</html>
