<p><big><a name="      36">Plot number       36</a></big></p>
<p><big>Well 5, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot1" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot1.InitializeFromWeb()
rc = TSPlot1.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot1.AddSimItem("|..\KarupDetailedTS.dfs0|",1)
TSPlot1.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      36"><font face="Arial">< back</font></a></p>
<p><big><a name="      37">Plot number       37</a></big></p>
<p><big>Well 6, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot2" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot2.InitializeFromWeb()
rc = TSPlot2.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot2.AddSimItem("|..\KarupDetailedTS.dfs0|",2)
TSPlot2.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      37"><font face="Arial">< back</font></a></p>
<p><big><a name="      38">Plot number       38</a></big></p>
<p><big>Well 8, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot3" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot3.InitializeFromWeb()
rc = TSPlot3.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot3.AddSimItem("|..\KarupDetailedTS.dfs0|",3)
TSPlot3.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      38"><font face="Arial">< back</font></a></p>
<p><big><a name="      39">Plot number       39</a></big></p>
<p><big>Well 9, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot4" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot4.InitializeFromWeb()
rc = TSPlot4.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot4.AddSimItem("|..\KarupDetailedTS.dfs0|",4)
TSPlot4.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      39"><font face="Arial">< back</font></a></p>
<p><big><a name="      40">Plot number       40</a></big></p>
<p><big>Well 12, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot5" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot5.InitializeFromWeb()
rc = TSPlot5.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot5.AddSimItem("|..\KarupDetailedTS.dfs0|",5)
TSPlot5.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      40"><font face="Arial">< back</font></a></p>
</body>
</html>
