<p><big><a name="      91">Plot number       91</a></big></p>
<p><big>Well 45, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot1" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot1.InitializeFromWeb()
rc = TSPlot1.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot1.AddSimItem("|..\KarupDetailedTS.dfs0|",56)
TSPlot1.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      91"><font face="Arial">< back</font></a></p>
<p><big><a name="      92">Plot number       92</a></big></p>
<p><big>Well 47, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot2" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot2.InitializeFromWeb()
rc = TSPlot2.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot2.AddSimItem("|..\KarupDetailedTS.dfs0|",57)
TSPlot2.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      92"><font face="Arial">< back</font></a></p>
<p><big><a name="      93">Plot number       93</a></big></p>
<p><big>Well 49, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot3" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot3.InitializeFromWeb()
rc = TSPlot3.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot3.AddSimItem("|..\KarupDetailedTS.dfs0|",58)
TSPlot3.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      93"><font face="Arial">< back</font></a></p>
<p><big><a name="      94">Plot number       94</a></big></p>
<p><big>Well 51, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot4" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot4.InitializeFromWeb()
rc = TSPlot4.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot4.AddSimItem("|..\KarupDetailedTS.dfs0|",59)
TSPlot4.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      94"><font face="Arial">< back</font></a></p>
<p><big><a name="      95">Plot number       95</a></big></p>
<p><big>Well 52, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot5" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot5.InitializeFromWeb()
rc = TSPlot5.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot5.AddSimItem("|..\KarupDetailedTS.dfs0|",60)
TSPlot5.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      95"><font face="Arial">< back</font></a></p>
</body>
</html>
