<p><big><a name="      41">Plot number       41</a></big></p>
<p><big>Well 11, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot1" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot1.InitializeFromWeb()
rc = TSPlot1.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot1.AddSimItem("|..\KarupDetailedTS.dfs0|",6)
TSPlot1.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      41"><font face="Arial">< back</font></a></p>
<p><big><a name="      42">Plot number       42</a></big></p>
<p><big>Well 21, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot2" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot2.InitializeFromWeb()
rc = TSPlot2.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot2.AddSimItem("|..\KarupDetailedTS.dfs0|",7)
TSPlot2.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      42"><font face="Arial">< back</font></a></p>
<p><big><a name="      43">Plot number       43</a></big></p>
<p><big>Well 24, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot3" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot3.InitializeFromWeb()
rc = TSPlot3.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot3.AddSimItem("|..\KarupDetailedTS.dfs0|",8)
TSPlot3.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      43"><font face="Arial">< back</font></a></p>
<p><big><a name="      44">Plot number       44</a></big></p>
<p><big>Well 22, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot4" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot4.InitializeFromWeb()
rc = TSPlot4.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot4.AddSimItem("|..\KarupDetailedTS.dfs0|",9)
TSPlot4.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      44"><font face="Arial">< back</font></a></p>
<p><big><a name="      45">Plot number       45</a></big></p>
<p><big>Well 25, water content in unsaturated zone</big></p>
<p>
<object id="TSPlot5" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot5.InitializeFromWeb()
rc = TSPlot5.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot5.AddSimItem("|..\KarupDetailedTS.dfs0|",10)
TSPlot5.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      45"><font face="Arial">< back</font></a></p>
</body>
</html>
