<p><big><a name="      16">Plot number       16</a></big></p>
<p><big>Well 38, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot1" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot1.InitializeFromWeb()
rc = TSPlot1.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot1.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",16)
TSPlot1.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      16"><font face="Arial">< back</font></a></p>
<p><big><a name="      17">Plot number       17</a></big></p>
<p><big>Well 39, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot2" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot2.InitializeFromWeb()
rc = TSPlot2.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot2.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",17)
TSPlot2.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      17"><font face="Arial">< back</font></a></p>
<p><big><a name="      18">Plot number       18</a></big></p>
<p><big>Well 41, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot3" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot3.InitializeFromWeb()
rc = TSPlot3.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot3.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",18)
TSPlot3.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      18"><font face="Arial">< back</font></a></p>
<p><big><a name="      19">Plot number       19</a></big></p>
<p><big>Well 44, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot4" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot4.InitializeFromWeb()
rc = TSPlot4.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot4.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",19)
TSPlot4.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      19"><font face="Arial">< back</font></a></p>
<p><big><a name="      20">Plot number       20</a></big></p>
<p><big>Well 45, head elevation in saturated zone</big></p>
<p>
<object id="TSPlot5" width="100%" height="400"
classid="clsid:979D0485-36D0-403F-B487-62F8E068B860" align="texttop">
</object>
</p>
<p><script language="VBScript"><!--
Dim mybool 
Dim rc 
TSPlot5.InitializeFromWeb()
rc = TSPlot5.SetPeriod(1970,1,1,0,0,1973,1,1,0,0)
rc = TSPlot5.AddSimItem("|..\KarupDetailedTS_SZ.dfs0|",20)
TSPlot5.Apply()
--></script></p>
 
 
 
 
 
<p><a href="..\KarupDetailedTS.html#      20"><font face="Arial">< back</font></a></p>
</body>
</html>
